body, html {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden; /* Bloqueia qualquer rolagem horizontal */
}

.quantidade-input {
    width: 70px; /* Ajuste este valor conforme necessário */
    padding: 5px;
    text-align: center;
}


.search-container {
    width:98%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;   
    margin: 20px;
    gap: 20px;
}


/* Estiliza o campo de entrada */
#searchInput {
    flex-grow: 1;
    max-width: 400px; /* Limita para não ficar muito largo */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 6px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

/* Efeito ao focar no campo */
#searchInput:focus {
    border-color: #007bff; /* Azul ao focar */
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}


/* Container principal que divide a tela */
.container {
    max-width: 100%;
    display: flex;
    flex-direction: row; /* Mantém os blocos lado a lado */
    justify-content: space-between; /* Garante espaçamento entre as colunas */
    align-items: flex-start; /* Alinha ao topo */
    gap: 20px; /* Espaço entre os blocos */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Bloco da lista de itens selecionados */
.selected-container {
    flex: 1; /* Ocupa uma parte do espaço disponível */
    min-width: 200px; /* Evita que fique muito pequeno */
    max-width: 30%; /* Garante que não fique muito grande */
    max-height: 100vh; /* Define uma altura máxima */
    overflow-y: auto; /* Permite rolagem se necessário */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    font-size: 14px;
}

/* Bloco da tabela */
.table-container {
    flex: 2; /* Ocupa mais espaço que a lista de selecionados */
    min-width: 650px; /* Evita que a tabela fique comprimida */
    max-width: 70%;
    max-height: 80vh;
    overflow-x: auto;
    overflow-y: auto; /* Permite rolagem apenas na área da tabela */
    border: 1px solid #ccc; /* Opcional, para destacar o contêiner */
    font-size: 14px;
}

#itemsTable thead {
    position: sticky;
    top: 0;
    background-color: #f1f1f1; /* Fundo fixo para o cabeçalho */
    z-index: 10; /* Garante que o cabeçalho fique acima do conteúdo */
}



/* Ajuste na tabela */
#itemsTable {
    width: 100%;
    border-collapse: collapse;
}

#itemsTable th, #itemsTable td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

#itemsTable th {
    background-color: #f1f1f1;
}


.filter-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-right: 50%;
}

.filter-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.filter-btn.active {
    background-color: #007bff;
    color: white;
}
